language = "cpp"
#run = "clang -lstdc++ -lm Node.cpp Network.cpp main.cpp -o main; ./main"
#run = "cd GenomeGrapher; python -m pip install -r requirements.txt; python main.py"
#run = "cd NeuralNetDLL; clang -shared -lstdc++ -fPIC -o NeuralNetDLL.so -Wall ../NeuralNetwork/src/Node.cpp ../NeuralNetwork/src/BinaryReader.cpp ../NeuralNetwork/src/Network.cpp src/dllmain.cpp; cp NeuralNetDLL.so ../NeuralNetDLLExample/NeuralNetDLL.so"
run = "cd NeuralNetDLLExample; python -m pip install -r requirements.txt; python main.py"